<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<div class="jumbotron">
<h1>Welcome to {{title}}</h1>
<h1>
    <a href="http://localhost:3000/createGame" class="btn btn-primary">Create new game</a>
</h1>
</div>