<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<form class="jumbotron" id="startGame" method="POST">
    <div class="h1 text-center">{{title}}</div><br>
    <div class="h1 text-center text-success" for="player1">
        <h2> The winner of this game is: </h2>
        ยก{{winnerName}}! <br>
        Score: {{winnerScore}} <br>
        Reward: {{reward}}
    </div>
</form>
